@import 'variables.scss';
h1 {
	background-color: rgb(255, 187, 0);
	color: seagreen;
}
* {
	background-color: rgb(229, 229, 229);
}
.container {
	color: $purple-color;
	border: 1px solid rgb(245, 49, 49);
}
