<div class='mt-10'>
	<form method='GET' action="/news">
		<div class='form-group'>
			<label for='search'>Look for something ??</label>
			<input type='text' name='fullname' />
			<input type='text' name='age' />
			<input
				name='q'
				type='text'
				class='form-control'
				id='search'
				aria-describedby='emailHelp'
				placeholder='Nhap tu khoa ...'
			/>
		</div>

		<button type='submit' class='btn btn-success'>Search</button>
	</form>
</div>